html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
    text-align: center;
    margin-top: 30px;
  }
}

input {
  width: 450px;
  height: 25px;
  padding: 5px;
  border-radius: 5px;
}

button {
  background-color: rgb(134, 15, 105);
  border: none;
  height: 20px;
  border-radius: 10px;
  margin-top: 10px;
}
